# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
shael/
venv/
.env/

# pytest cache
.pytest_cache/
.cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and reports
*.log
reports/
allure-report/

# IDE settings
.vscode/
.idea/
